<volume>
  <name><%= name %></name>
  <allocation unit=""><%= allocation %></allocation>
  <capacity unit="G"><%= size %></capacity>
  <target>
    <label>rupert_image_t</label>
  </target>
</volume>
